node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# build / TS incremental caches
*.tsbuildinfo
.vite/

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# test
coverage
